@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');
:root {
  --max-width: 1824px;
  --column-space: 2rem;

  /* Border radius */
  --br-lg: 3rem;
  --br-md: 2rem;
  --br-sm: 1rem;

  /* colors */
  --clr-dark: #000;
  --clr-light: #fff;
  --clr-primary-50: #E5ECF5;
  --clr-primary-100: #D7E3F4;
  --clr-primary-200: #B2CDF1;

  --side-padding: 3rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

*:focus-visible {
  outline: 2px solid rgb(255, 165, 0) !important;
  outline-offset: 4px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  background-color: var(--clr-light);
  margin: 0;
  font-size: 1rem;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
  scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  width: 100%;
  max-width: calc(var(--max-width) + 2 * var(--side-padding));
  margin: 0 auto;
  padding: 0 var(--side-padding);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1500px) {
  :root {
    --side-padding: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  :root {
    --side-padding: 1rem;
  }
}
