---

---

<div class="cursor">

</div>

<style>
  .cursor {
    z-index: 50;
    width: 1rem;
    height: 1rem;
    border-radius: 50vmax;;
    position: absolute;
    background-color: rgb(0 0 0 / 0.5);
    pointer-events: none;
    transition: width 1s ease, height 1s ease, background 1s ease, backdrop-filter 1s ease;
    backdrop-filter: invert(0);
  }

  .cursor.big {
    width: 4rem;
    height: 4rem;
    background-color: rgb(229 236 245 / 0.5);
    z-index: 1;
    /* background-color: var(--clr-primary-light); */
  }

  .cursor.invert {
    width: 6rem;
    height: 6rem;
    background-color: transparent;
    backdrop-filter: invert(1);
  }
</style>

<script>
  const cursorElement = document.querySelector(".cursor") as HTMLElement;
  let cursorWidth = cursorElement.clientWidth
  let cursorX = 0
  let cursorY = 0
  let ballX = 0
  let ballY = 0

  let speed = 0.02

  function animate(){
    cursorWidth = cursorElement.clientWidth
    let distX = cursorX - ballX - cursorWidth / 2;
    let distY = cursorY - ballY - cursorWidth / 2;
    
    
    ballX = ballX + (distX * speed);
    ballY = ballY + (distY * speed);
    
    cursorElement.style.left = ballX + "px";
    cursorElement.style.top = ballY + "px";
    requestAnimationFrame(animate);
  }
  animate()

  document.addEventListener("mousemove", e=>{
    cursorX = e.pageX
    cursorY = e.pageY
    let hoverTarget = e.target as HTMLElement
    if (hoverTarget.hasAttribute('data-cursor-big') || hoverTarget.parentElement?.hasAttribute('data-cursor-big')) {
      cursorElement.classList.add("big")
    } else {
      cursorElement.classList.remove("big")
    }
    if (hoverTarget.hasAttribute('data-cursor-invert') || hoverTarget.parentElement?.hasAttribute('data-cursor-invert')) {
      cursorElement.classList.add("invert")
    } else {
      cursorElement.classList.remove("invert")
    }
  })
</script>