---

---

<footer>
  <p>utviklet av morten myrstad &copy; 2023-<span id="copyright-year"></span></p>
</footer>

<style>
  footer {
    margin-top: auto;
    background-color: #373940;
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  p {
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 0;
    color: white;
    text-align: center;
  }

  @media screen and (max-width: 500px) {
    p {
      font-size: 1rem;
    }

    footer {
      padding-bottom: 4rem;
    }
  }
</style>

<script>
  const yearElement = document.getElementById("copyright-year") as HTMLSpanElement
  yearElement.innerText = new Date().getFullYear().toString()
  
  document.addEventListener('astro:after-swap', () => {
    const yearElement = document.getElementById("copyright-year") as HTMLSpanElement
    yearElement.innerText = new Date().getFullYear().toString()
  })
</script>