---
import { Image } from 'astro:assets'
import lakeImage from '../assets/images/winter-lake.jpg'
import ballImage from '../assets/images/winter-ball.jpg'
import treesImage from '../assets/images/winter-trees.jpg'
import heroImage from '../assets/images/winter-wonderland.jpg'
---

<div id="intro">
  <Image src={heroImage} alt="Dekorativt: hytte ved en dam på vinteren" loading="eager" width={1824} height={448} />
  <div class="content container">
    <div class="column">
      <p class="eyebrow">webutvikler & student</p>
      <h1>Morten<br>Myrstad</h1>
    </div>
    <div class="column">
      <p class="text">
        Hei! Jeg er en person med en brennende interesse for alt teknologisk, fra operativsystemer til mikrokontrollere. Jeg brenner for godt design og brukervennlighet. Med en intens indre motivasjon for læring og nye erfaringer, er jeg alltid på jakt etter å utvide kunnskapene mine.
      </p>
      <div class="buttons">
        <a href="#ta-kontakt" class="button primary" data-cursor-invert="" data-cursor-big="">Ta kontakt</a>
        <a href="#prosjekter" class="button secondary" data-cursor-invert="" data-cursor-big="">Se prosjekter</a>
      </div>
    </div>
    <div class="column grid">
      <div class="row">
        <Image src={treesImage} alt="Dekorativt: frossent landskap med snødekte trær" class="trees" height={181} width={152} />
        <Image src={lakeImage} alt="Dekorativt: frossent landskap med innsjø" class="lake" width={298} height={102} />
      </div>
      <div class="row">
        <Image src={ballImage} alt="Dekorativt: frossen isboble" class="ball" width={124} height={120} />
      </div>
    </div>
  </div>
</div>

<style>
  #intro > img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0 0 var(--br-lg) var(--br-lg);
    animation: fade-in forwards 750ms ease-out;
  }

  .content {
    margin-top: 6rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    animation: fly-up 500ms 500ms forwards ease-out;
  }
  .column:nth-child(2) {
    animation-delay: 750ms;
  }
  .column:nth-child(3) {
    animation-delay: 1000ms;
  }

  .eyebrow {
    width: fit-content;
    padding: 0.5rem 1.25rem;
    border-radius: 1rem;
    line-height: 100%;
    margin: 0;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    text-transform: uppercase;
    white-space: nowrap;
  }
  h1 {
    margin: 0;
    margin-top: 1.5rem;
    font-size: 6rem;
    line-height: 100%;
    font-weight: normal;
    text-transform: uppercase;
  }
  .text {
    margin: 0;
    line-height: 150%;
    font-size: 1.25rem;
  }
  .buttons {
    display: flex;
    gap: 1.25rem;
    margin-top: 2rem;
  }
  .button {
    font-size: 1.25rem;
    line-height: 100%;
    padding: 1em 2em;
    text-decoration: none;
    color: inherit;
    border-radius: 100vmax;
  }
  .button.primary {
    background-color: black;
    color: white;
  }
  .button.secondary {
    color: black;
    outline: 2px solid black;
    outline-offset: -2px;
  }
  .button.secondary:focus-visible {
    outline-color: orange;
    background-color: #eee;
  }
  .grid .row {
    width: 100%;
    display: flex;
    gap: .75rem;
    justify-content: center;
    align-items: flex-end;
  }
  .grid img {
    object-fit: cover;
  }
  .grid .trees,
  .grid .lake {
    border-radius: .75rem 2rem;
  }
  .grid .ball {
    margin-top: 0.75rem;
    transform: translateX(-60%);
    border-radius: 2rem .75rem .75rem .75rem ;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-20%);
    }
    
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @keyframes fly-up {
    from {
      opacity: 0;
      transform: translateY(4rem);
    }
    
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 1500px) {
    .content {
      grid-template-columns: 1fr 1fr;
    }

    .content .column:nth-child(3) {
      display: none;
    }

    #intro > img {
      max-height: 20rem;
    }
  }

  @media screen and (max-width: 1000px) {
    .content {
      grid-template-columns: 1fr;
    }
    
    h1 {
      font-size: 4rem;
    }
    
    .text {
      font-size: 1rem;
      max-width: 50ch;
    }
  }
  @media screen and (max-width: 500px) {
    .content {
      margin-top: 2rem;
    }
    #intro > img {
      max-height: 16rem;
      border-radius: 0 0 var(--br-md) var(--br-md);
    }

    .buttons {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .button {
      display: grid;
      place-items: center;
      padding-block: 0.5em;
    }
  }
</style>